*{
    padding: 0px auto;
    margin: 0px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: black; */
}
li{
    float: right;
}
.bar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.search{
    margin-left: 40%;
}
